@charset "UTF-8";
@media screen {
  .print-cover-all canvas {
    display: none; } }

@media print {
  #header,
  footer.footer .col-left,
  footer.footer .col-center,
  cookie-law,
  .mobile-menu {
    display: none; }
  .noprint {
    display: none !important; }
  a[href]:after {
    content: ''; }
  .fixed-navbar #header {
    position: static;
    overflow: hidden; }
  .fixed-navbar #wrapper, .fixed-navbar .critical-system-error {
    top: 0 !important; }
  .fixed-footer .footer {
    position: static;
    font-size: 0.8em; }
  #wrapper > div.content, .critical-system-error > div.content {
    padding-left: 0;
    padding-right: 0; }
    #wrapper > div.content::after, .critical-system-error > div.content::after {
      content: " ";
      display: block;
      clear: both; }
  /* For modals */
  .print-cover-all,
  .k-window-content {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff !important; }
  /* For Edge */
  .print-cover-all canvas {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
  /* For grids */
  .k-grid {
    font-size: 0.9em; }
  .k-grid th, .k-grid td {
    padding: 2mm 4mm; } }

.color-line.loader {
  animation: loading 5s linear infinite; }

@keyframes loading {
  from {
    left: 50%;
    width: 0;
    z-index: 100; }
  33.3333% {
    left: 0;
    width: 100%;
    z-index: 10; }
  to {
    left: 0;
    width: 100%; } }

html {
  font-size: 14px; }

.env-indicator {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  border-width: 4.5em;
  border-style: solid;
  border-color: #c0392b transparent transparent #c0392b;
  z-index: 1001;
  transition: font-size 1s, border-width 1s; }
  .env-indicator span {
    color: white;
    position: absolute;
    text-transform: uppercase;
    transform: rotate(-45deg) translateX(-1.5em) translateY(-5em);
    text-align: center; }

.test-env .env-indicator {
  display: block; }

@media (max-width: 768px) {
  .env-indicator {
    font-size: 0.6em; } }

footer.footer {
  display: flex;
  flex-wrap: wrap; }
  footer.footer > [class^="col-"] {
    flex-grow: 1;
    min-height: 1.5em; }
  footer.footer > .col-center {
    text-align: center;
    padding: 0 10px; }
  footer.footer > .col-right {
    text-align: right; }
  footer.footer .downtime-info {
    display: block; }

#wrapper, .critical-system-error {
  border-left: none;
  margin-left: 0; }

.k-autocomplete, .k-combobox .k-dropdown-wrap, .k-datepicker .k-picker-wrap, .k-timepicker .k-picker-wrap, .k-datetimepicker .k-picker-wrap,
.k-dateinput .k-dateinput-wrap, .k-textbox, .k-input.k-textbox, .k-textarea, .k-multiselect, .k-multiselect-wrap, .k-numerictextbox .k-numeric-wrap,
.k-combobox .k-select, .k-dropdown .k-select, .k-dropdown .k-input, .k-combobox > :hover .k-select {
  background: #fff; }

.form-control.k-state-disabled {
  cursor: not-allowed;
  background-color: #eee; }
  .form-control.k-state-disabled .k-textbox {
    cursor: not-allowed;
    background-color: #eee; }

.k-disabled, .k-state-disabled, .k-textbox:disabled, .k-textbox[disabled], .k-textbox.k-state-disabled {
  opacity: 1; }

.k-state-disabled.k-multiselect {
  background: #eee; }
  .k-state-disabled.k-multiselect .k-multiselect-wrap {
    background: #eee; }

.k-datepicker.k-state-disabled {
  cursor: not-allowed !important; }
  .k-datepicker.k-state-disabled .k-picker-wrap {
    background: #eee; }
    .k-datepicker.k-state-disabled .k-picker-wrap .k-dateinput-wrap {
      background-color: #eee; }

.k-state-disabled.k-picker-wrap {
  background: #eee; }
  .k-state-disabled.k-picker-wrap .k-date-input {
    background-color: #eee; }

.k-dateinput.k-state-disabled .k-dateinput-wrap {
  background: #eee; }

.form-control.k-dropdown {
  background: transparent; }
  .form-control.k-dropdown .k-dropdown-wrap.k-state-disabled {
    background: #eee; }
    .form-control.k-dropdown .k-dropdown-wrap.k-state-disabled .k-input {
      background: #eee; }
    .form-control.k-dropdown .k-dropdown-wrap.k-state-disabled .k-select {
      background: #eee; }

.form-control.k-numerictextbox .k-state-disabled {
  background: #eee; }

form.ng-invalid.submitted .form-control.ng-invalid .k-multiselect-wrap {
  border-color: #e74c3c !important; }

.k-list-optionlabel.k-state-selected, .k-list-optionlabel:hover.k-state-selected {
  color: #f1f3f6;
  background-color: #62cb31; }

.k-button.bdo-submit, .k-button.btn-bdo {
  background-color: #34495e;
  border-color: #34495e;
  color: #fff;
  background-image: none; }

.k-button.bdo-danger {
  background-color: #c0392b;
  border-color: #c0392b;
  background-image: none;
  color: #fff; }

.bdo-primary-dropdown .k-button {
  color: #fff;
  background-color: #62cb31;
  border-color: #62cb31;
  background-image: none; }

.k-grid, .k-grid .k-grid-header, .k-grid .k-widget {
  background: #fff; }

.k-widget.form-control .k-input, .form-control.k-block .k-input, .form-control {
  padding: 6px 8px; }

.k-dropdown .k-select {
  width: calc(8px + 1em); }

.k-dropdown.form-control, .k-maskedtextbox.form-control, .k-numerictextbox.form-control, .k-multiselect.form-control {
  border: none; }

.k-checkbox-label.align-input {
  margin-top: 10px; }

/* fix na kendo button dla przegladarki MS Edge
   po wprowadzeniu zmian należy usunąć znaki &nbsp;
*/
.k-button.icon-only {
  width: 28px !important;
  padding: 4px 6px;
  margin: 0 1px; }
  .k-button.icon-only .k-icon {
    margin: 0 -4px 0 0; }

.table > tbody > tr > td.row-no {
  width: 40px;
  vertical-align: middle;
  text-align: center; }

.table > tbody > tr > td.row-no.disabled-row-no {
  vertical-align: top; }

.table > tbody > tr > td.row-del {
  width: 30px;
  vertical-align: middle; }

.hpanel .panel-body .panel-sub-heading {
  font-weight: 700; }

.mini-margin-right {
  margin-right: 5px; }

.mini-margin-left {
  margin-left: 5px; }

.margin-bottom-3 {
  margin-bottom: 3px; }

.mini-padding-top {
  padding-top: 5px; }

.mini-padding-bottom {
  padding-bottom: 5px; }

.margin-right {
  margin-right: 15px; }

.padding-top {
  padding-top: 15px; }

.padding-left {
  padding-left: 15px; }

.padding-bottom {
  padding-bottom: 15px; }

.padding-left {
  padding-left: 15px; }

.short-form-control {
  width: 100px;
  display: inline-block; }

.icon-green {
  margin-left: 5px;
  color: #62cb31;
  font-weight: bold; }

.icon-red {
  margin-left: 5px;
  color: #c0392b;
  font-weight: bold; }

.nav.side-menu > li {
  padding: 10px !important; }

.nav.side-menu li {
  padding: 5px; }

.sections-details .k-checkbox:disabled + .k-checkbox-label {
  opacity: 1.0; }

.landing-page .navbar-nav a.active,
.landing-page .navbar-nav a.active:hover,
.landing-page .navbar-nav a.active:focus {
  background-color: transparent;
  color: #62cb31;
  border: none; }

.navbar-nav li a.nav-mail {
  font-size: 14px;
  color: #62cb31; }

.fixed-footer .footer {
  left: 0; }

.item-deleted {
  text-decoration: line-through; }

#system-messages .messsage.info {
  background: #E7FFFF;
  border-left: 6px solid #3498db; }

#system-messages .message.success {
  background: #C8FF97;
  border-left: 6px solid #62cb31; }

#system-messages .message.warning {
  background: #FFFFD2;
  border-left: 6px solid #ffb606; }

#system-messages .message.danger {
  background: #FFE5D5;
  border-left: 6px solid #e74c3c; }

.form-group .warning:before {
  content: "\F071";
  font-family: 'FontAwesome';
  margin: 0 4px;
  color: #e67e22; }

.form-error-container {
  min-height: 25px; }

.form-with-validation .form-group {
  padding-bottom: 0;
  margin-bottom: 0; }

.form-with-validation .form-group-without-validation {
  padding-bottom: 25px; }

a.text-success {
  color: #62cb31; }

.k-grid a.text-success {
  color: #62cb31; }

.k-grid th.k-header {
  font-weight: bold; }

.grid-wrap-header .k-grid th {
  white-space: normal; }

.grid-responsive .k-widget.k-grid {
  min-width: 990px;
  width: 100%;
  display: table; }
  .grid-responsive .k-widget.k-grid .command-column {
    width: 125px; }

.grid-responsive-sm .k-widget.k-grid {
  min-width: 631px; }

.busy-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  font-size: 1.5em;
  line-height: 3em;
  color: #aaa;
  margin-top: 2.5em;
  text-align: center; }

.bdo-tooltip {
  position: relative;
  display: inline-block; }
  .bdo-tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: white;
    text-align: center;
    font-size: 12px;
    padding: 4px;
    border-radius: 3px;
    border: 1px solid #34495e;
    font-weight: normal;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 65%; }

/* Show the tooltip text when you mouse over the tooltip container */
.bdo-tooltip:hover .tooltiptext {
  visibility: visible; }

@media (max-width: 768px) {
  .short-form-control {
    width: 50px; }
  .bdo-tooltip .tooltiptext {
    left: 15%;
    width: 150px; } }

@media (min-width: 768px) {
  .bdo-dialog-large .k-dialog {
    width: 600px;
    margin: 30px auto; } }

@media (min-width: 992px) {
  .bdo-dialog-large .k-dialog {
    width: 900px; } }

.checkOnRight {
  display: inline-block;
  padding-left: 15px;
  padding-top: 7px; }

.checkInRow {
  padding-top: 7px; }

.eu-links .panel-body {
  background: #f7f9fa;
  padding: 6px; }

.eu-links .panel-footer {
  background: #fff;
  padding: 2px 4px;
  overflow: hidden; }

.eu-links .flag {
  display: inline-block;
  min-width: 50px;
  min-height: 40px;
  width: 100%;
  height: 100%;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.eu-links .flag-at {
  background-image: url(../assets/at.dd8fe250547c5222b48c2b710cb8417e.png); }

.eu-links .flag-de {
  background-image: url(../assets/de.abbd4565f7bcef8dc782a07aeaae4d2d.png); }

.eu-links .flag-dk {
  background-image: url(../assets/dk.b8a494a4f6a2836ee6eab604d58861be.png); }

.eu-links .flag-ee {
  background-image: url(../assets/ee.ce238cf370b78134ea7f695aa4b4c780.png); }

.eu-links .flag-es {
  background-image: url(../assets/es.8c819b2f3d8c6dc7e0637c2441dc6fa2.png); }

.eu-links .flag-fi {
  background-image: url(../assets/fi.861bff67e9bd2b8f5b98bbea97526cde.png); }

.eu-links .flag-fr {
  background-image: url(../assets/fr.09a791be0aa03e3b35933c12cbf618f8.png); }

.eu-links .flag-gb {
  background-image: url(../assets/gb.f2f57cc63057db97b7c449a09a6ba444.png); }

.eu-links .flag-gr {
  background-image: url(../assets/gr.9c13e3a15b1ffe61c7f0b3ddd4390f06.png); }

.eu-links .flag-hu {
  background-image: url(../assets/hu.d90a9c4f4d323b44dd4c62b69f1e2c9d.png); }

.eu-links .flag-ie {
  background-image: url(../assets/ie.f99dd6e4742bbb8cac0f14f1f05369c7.png); }

.eu-links .flag-it {
  background-image: url(../assets/it.b90e559a19e8a2d3f1b9b978568e4a41.png); }

.eu-links .flag-lt {
  background-image: url(../assets/lt.614a881a65c203755de7dc35ab6e2ed6.png); }

.eu-links .flag-lu {
  background-image: url(../assets/lu.6688c459e497c72ef4601aa02b85cac3.png); }

.eu-links .flag-lv {
  background-image: url(../assets/lv.4cba04e93ea9d5ba83812b1e4ad284b7.png); }

.eu-links .flag-mt {
  background-image: url(../assets/mt.1f800e791c126fa41d3e4b9b790b9bf4.png); }

.eu-links .flag-nl {
  background-image: url(../assets/nl.3c28f6636e2baa5a29ee66beef98e7d7.png); }

.eu-links .flag-pt {
  background-image: url(../assets/pt.67bf8f9e91bd1462d48bedbce86d2cfa.png); }

.eu-links .flag-ro {
  background-image: url(../assets/ro.8263b2b2ef5b6ab2b44d3dc289c52522.png); }

.eu-links .flag-se {
  background-image: url(../assets/se.2bb064ef6a4ff2189a2f95e26fd7dc5f.png); }

.eu-links .flag-sk {
  background-image: url(../assets/sk.9142d792e33c1d2964ac2db435c589c6.png); }

@media (min-width: 1200px) {
  .eu-links h5.lg-smaller {
    font-size: 12px; } }

.k-button.k-bare.text-primary {
  color: #34495e; }

@media (min-width: 768px) {
  .bdo-row-details .dl-horizontal dt {
    width: 65px; } }

@media (min-width: 768px) {
  .bdo-row-details .dl-horizontal dd {
    margin-left: 77px; } }

/* IE 10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  td .k-widget.k-dropdown {
    min-width: 95px; } }

/*
 poszerzenie inputow w formularzach tabelkach
 */
form th.register-nr, form td.register-nr, form .register-nr.k-maskedtextbox {
  max-width: 80px; }

form th.wide-table-header {
  max-width: 250px; }

form td input {
  min-width: 115px; }

/**
 * Informacja o wykorzystaniu cookies
 */
cookie-law .cookie-law .cookie-law-wrapper {
  background: #6a6c6f;
  opacity: 0.9;
  text-align: center; }
  cookie-law .cookie-law .cookie-law-wrapper .cookie-info {
    font-size: 14px; }

a.highlight-link {
  text-decoration: underline; }

.k-grid tr.white {
  background-color: #fff; }

.k-grid tr.grey {
  background-color: rgba(0, 0, 0, 0.04); }

.white-table .k-grid tr.k-detail-row {
  background-color: #fff; }

.grey-table .k-grid tr.k-detail-row, .grey-table .k-grid th.k-hierarchy-cell {
  background-color: rgba(0, 0, 0, 0.04); }

.theme-green .bs-datepicker-head {
  background-color: #62cb31; }

.theme-green .bs-datepicker-body table td span.selected,
.theme-green .bs-datepicker-body table td.selected span,
.theme-green .bs-datepicker-body table td span[class*="select-"]:after,
.theme-green .bs-datepicker-body table td[class*="select-"] span:after {
  background-color: #62cb31; }

.theme-green .bs-datepicker-body table td.week span {
  color: #62cb31; }

.form-control.form-control-datepicker, .input-group .form-control.form-control-datepicker {
  width: auto;
  max-width: 135px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .form-control.form-control-datepicker.horizontal, .input-group .form-control.form-control-datepicker.horizontal {
    display: inline-block; }

bs-datepicker-container, bs-daterangepicker-container {
  z-index: 10002; }

.waste-container {
  max-height: 400px;
  overflow-y: auto; }

.hpanel .panel-body .panel-sub-heading * {
  font-weight: normal; }

.hpanel .panel-body .panel-sub-heading .k-grid th, .hpanel .panel-body .panel-sub-heading strong {
  font-weight: 700; }

.multi-select-item-template-2-col {
  width: 100%;
  padding: 5px 0; }
  .multi-select-item-template-2-col .col-left {
    float: left;
    width: 160px;
    padding: 3px 0; }
  .multi-select-item-template-2-col .col-right {
    padding-left: 160px;
    font-size: 0.9em; }

virtual-scroll {
  display: block;
  width: 100%;
  height: 200px; }

div.list-item {
  display: block;
  width: 100%;
  height: 30px; }

.waste-codes hr {
  margin-top: 5px;
  margin-bottom: 5px; }

.waste-codes .waste-row {
  min-height: 20px;
  margin-right: 0;
  margin-left: 0; }
  .waste-codes .waste-row div.waste-th {
    font-weight: 700; }

/*# sourceMappingURL=app.b679e88aa09eb67042c1.css.map*/