    .waste-transfer-card {
        box-sizing: border-box;
    }
    .header-section {
        display: flex;
        justify-content: center;
        margin-top:100px;
    }
    .panel-heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .panel-heading span {
        width: 90%;
    }
    .main-heading{
        padding: 0px 20px 0px 20px;
    }
    .main-heading span {
        display: flex;
        align-items: center;
    }
    .card-form {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .form-sizing {
        /* width: 60%; */
    }
    .main-section_form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 2px solid #62cb31;
        padding: 0 20px 0 20px;
    }
    .section-header {
        width: 70%;
    }
    .main-section_content {
        display: flex;
        flex-direction: row;
    }
    .main-form-group {
        display: flex;
        flex-direction: row;
    }
    .main-form_card-number {
        margin-right: 20px;
        display: flex;
        align-items: center;
    }
    .main-form_year-number {
        display: flex;
        align-items: center;
        text-align: right;
    }
    .main-form_control--number {
        width: 50px;
        border: none;
        border-left: 1px solid ;
        border-right: 1px solid ;
        border-radius: 0;
        transition: all 0.3s;
    }
    .main-form_control--number:focus {
        border-left: 3px solid ;
        border-right: 3px solid ;
    }
    .main-form_control--year {
        width: 100px;
        border: none;
        border-left: 1px solid;
        border-right: 1px solid;
        border-radius: 0;
        transition: all 0.3s;
    }
    .main-form_control--year:focus {
        border-left: 3px solid;
        border-right: 3px solid;
    }
    .main-section_label {
        font-size: 10px;
        font-weight: 400;
        margin: 0 5px 0 5px;
    }
    /* FIRST SECTION */
    .first-section_form {
        border-bottom: 1px solid #62cb31;
    }
    .section-header_form {
        display: flex;
        align-items: center;
        height: 50px;
        margin: 10px 0px 10px 0px;
    }
    .section-header_form h4 {
        padding-left: 20px;
        width: 90%;
    }
    .view-more_sizing {
        display: flex;
        position: relative;
        justify-content: center;
        width: 10%;
        padding-bottom: 10px;
    }
    .view-more_sizing:before {
        content: '';
        border-bottom: 3px solid #62cb31;
        border-right: 3px solid #62cb31;
        border-radius: 3px;
        transform: rotate(45deg);
        width: 20px;
        height: 20px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
 
    .view-more_sizing.view-more_sizing-expanded:before {
        transform: rotate(225deg);
    }

    .first-section_content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px 0px 20px;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
    }
    .expanded {
        height: 220px !important;
    }
    .first-section_left-part {
        display: flex;
        flex-direction: column;
        width: 74%;
        height: 90%;
    }
    .first-section_right-part {
        display: flex;
        flex-direction: column;
        width: 24%;
        height: 90%;
    }
    .first-form_control--data {
        height: 91px;
    }
    .section_label {
        font-size: 12px;
        font-weight: 400;
    }
    .second-section_form {
        border-bottom: 1px solid #62cb31;
    }
    .second-section_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 20px 0px 20px;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
    }
    .second-section_top-part {
        width: 100%;
        height: 70%;
    }
    .second-section_bottom-part {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 30%;
        margin-bottom: 20px;
    }
    .second-form-group {
        width: 31%;
    }
    .third-section_form {
        border-bottom: 1px solid #62cb31;
    }

    .fourth-section_form {
        border-top: 1px solid #62cb31;
    }
    .check-form-group {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .check-form-group div {
        display: flex;
        align-items: center;
    }
    .fourth-section_left-part {
         display: flex;
        flex-direction: column;
        width: 64%;
        height: 90%;
    }
    .fourth-section_right-part {
        display: flex;
        flex-direction: column;
        width: 34%;
        height: 90%;
    }
    .check-form-control {
        width: 15px;
        height: 15px;
    }
    .fifth-section_form {
        border-top: 1px solid #62cb31;
    }
    .fifth-section_content {
        display: flex;
        flex-direction: column;
        padding: 0px 20px 0px 20px;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
    }
    .fifth-section-part {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .fifth-form-group{
        width: 24%;
    }
    .add-btn-section {
        display: flex;
        justify-content: flex-end;
        padding: 20px;
    }
    .sign-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        border-top: 1px solid #62cb31;
        padding: 20px;
    }
    #add-btn {
        outline: none;
    }
    .sign-section {
        display: flex;
        flex-direction: column;
        width: 32%;
    }
    .sign-input{
        height: 100px;
    }
    .save-form-group {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 20px 40px 20px 20px;
    }
    .btn-default {
        color: #62cb31;
        border-color: #62cb31;
    }