﻿@model Gwiazda.Models.WasteTransferCard

@{
    ViewData["Title"] = "WZÓR KARTY PRZEKAZANIA ODPADÓW";
}

<div class="waste-transfer-card">


    <div class="row">
        <div class="col-lg-12 text-center welcome-message">
    
        <h3>WZÓR KARTY PRZEKAZANIA ODPADÓW</h3>
    </div>
    <hr />
    </div>

    <div class="row">
    

        <div class="col-md-11 card-form">
            <div class="hpanel">
                <div class="panel-body">
            <form asp-action="Edit" class="form-sizing">
                <div class="main-section_form">
                    <div class="section-header">
                        <h4>Karta przekazania odpadów</h4>
                    </div>
                    <div class="main-section_content">
                        <div class="main-form-group main-form_card-number">
                            <label class="main-section_label">NR.KARTY</label>
                            <input class="form-control main-form_control--number" />
                            <span asp-validation-for="Number" class="text-danger"></span>
                        </div>
                        <div class="main-form-group main-form_year-number">
                            <label class="main-section_label">ROK KALENDARZOWY</label>
                            <input class="form-control main-form_control--year" />
                            <span asp-validation-for="Year" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="first-section_form">
                    <div class="section-header_form">
                        <h4>Dane przekazującego odpad</h4>
                        <div class="view-more_sizing view-more_sizing-expanded" id="view-button"></div>
                    </div>
                    <div class="first-section_content expanded">
                        <div class="first-section_left-part">
                            <div class="first-form-group">
                                <label class="section_label">Nazwa i adres posiadacza odpadów, który przekazuje odpad</label>
                                <textarea class="form-control first-form_control--data"></textarea>
                                <span asp-validation-for="Number" class="text-danger"></span>
                            </div>
                            <div class="first-form-group form-place">
                                <label class="section_label">Miejsce prowadzenia działalności</label>
                                <input class="form-control" />
                                <span asp-validation-for="Year" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="first-section_right-part">
                            <div class="form-group">
                                <label class="section_label">Nr. rejestrowy</label>
                                <input asp-for="SenderNIP" class="form-control" />
                                <span asp-validation-for="SenderNIP" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="section_label">NIP</label>
                                <input asp-for="SenderNIP" class="form-control" />
                                <span asp-validation-for="SenderNIP" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="section_label">REGON</label>
                                <input asp-for="SenderREGON" class="form-control" />
                                <span asp-validation-for="SenderREGON" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="second-section_form">
                    <div class="section-header_form">
                        <h4>Dane transportującego odpad</h4>
                        <div class="view-more_sizing view-more_sizing-expanded" id="view-button3"><div class="view-more_header"></div></div>
                    </div>
                    <div class="second-section_content expanded">
                        <div class="second-section_top-part">
                            <div class="first-form-group">
                                <label class="section_label">Nazwa i adres posiadacza odpadów, transportującego odpad</label>
                                <textarea class="form-control first-form_control--data"></textarea>
                                <span asp-validation-for="Number" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="second-section_bottom-part">
                            <div class="second-form-group">
                                <label class="section_label">Nr. rejestrowy</label>
                                <input asp-for="TransportRegNo" class="form-control" />
                                <span asp-validation-for="TransportRegNo" class="text-danger"></span>
                            </div>
                            <div class="second-form-group">
                                <label class="section_label">NIP</label>
                                <input asp-for="TransportNIP" class="form-control" />
                                <span asp-validation-for="TransportNIP" class="text-danger"></span>
                            </div>
                            <div class="second-form-group">
                                <label class="section_label">REGON</label>
                                <input asp-for="TransportREGON" class="form-control" />
                                <span asp-validation-for="TransportREGON" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="third-section_form">
                    <div class="section-header_form">
                        <h4>Dane przejmującego odpad</h4>
                        <div class="view-more_sizing view-more_sizing-expanded" id="view-button2"><div class="view-more_header"></div></div>
                    </div>
                    <div class="first-section_content expanded">
                        <div class="first-section_left-part">
                            <div class="first-form-group">
                                <label class="section_label">Nazwa i adres posiadacza odpadów, który przejmuje odpad</label>
                                <textarea class="form-control first-form_control--data"></textarea>
                                <span asp-validation-for="Number" class="text-danger"></span>
                            </div>
                            <div class="first-form-group form-place">
                                <label class="section_label">Miejsce prowadzenia działalności</label>
                                <input class="form-control" />
                                <span asp-validation-for="Year" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="first-section_right-part">
                            <div class="form-group">
                                <label class="section_label">Nr. rejestrowy</label>
                                <input asp-for="SenderNIP" class="form-control" />
                                <span asp-validation-for="SenderNIP" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="section_label">NIP</label>
                                <input asp-for="SenderNIP" class="form-control" />
                                <span asp-validation-for="SenderNIP" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="section_label">REGON</label>
                                <input asp-for="SenderREGON" class="form-control" />
                                <span asp-validation-for="SenderREGON" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                <div class="fourth-section_form">
                    <div class="section-header_form">
                        <h4>Dodatkowe dane</h4>
                        <div class="view-more_sizing view-more_sizing-expanded" id="view-button4"><div class="view-more_header"></div></div>
                    </div>
                    <div class="first-section_content expanded">
                        <div class="fourth-section_left-part">
                            <div class="first-form-group">
                                <label class="section_label">Posiadacz odpadów, któremu należy przekazać odpad</label>
                                <textarea class="form-control first-form_control--data"></textarea>
                                <span asp-validation-for="Number" class="text-danger"></span>
                            </div>
                            <div class="first-form-group form-place">
                                <label class="section_label">Rodzaj procesu przetwarzania, któremu powinien zostać poddany odpad</label>
                                <input class="form-control" />
                                <span asp-validation-for="Year" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="fourth-section_right-part">
                            <div class="form-group">
                                <label class="section_label">Wnioskuję o wydanie dokumentu potwierdzającego unieszkodliwienie zakaźnych odpadów medycznych lub zakaźnych odpadów weterynaryjnych</label>
                                <div class="check-form-group">
                                    <div><input class="check-form-control" type="checkbox"/>TAK</div>
                                    <div><input class="check-form-control" type="checkbox"/>NIE</div>
                                </div>
                                <span asp-validation-for="SenderNIP" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="section_label">Kod odpadu</label>
                                <input asp-for="SenderNIP" class="form-control" />
                                <span asp-validation-for="ReceiverNIP" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="section_label">Rodzaj odpadu</label>
                                <input asp-for="SenderREGON" class="form-control" />
                                <span asp-validation-for="ReceiverREGON" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fifth-section_form">
                    <div class="section-header_form">
                        <h4>Zarejestruj przekazanie odpadu</h4>
                        <div class="view-more_sizing view-more_sizing-expanded" id="view-button4"><div class="view-more_header"></div></div>
                    </div>
                    <div class="fifth-section_content expanded" id="show-form">
                        <div class="fifth-section-part">
                            <div class="fifth-form-group">
                                <label class="section_label">Data/miesiąc</label>
                                <input type="text" class="form-control fifth-form_control--data" />
                                <span asp-validation-for="Number" class="text-danger"></span>
                            </div>
                            <div class="fifth-form-group">
                                <label class="section_label">Masa przekazanych odpadów [Mg]</label>
                                <input class="form-control" />
                                <span asp-validation-for="Year" class="text-danger"></span>
                            </div>
                            <div class="fifth-form-group">
                                <label class="section_label">Numer rejestracyjny pojazd, przyczepy lub naczepy</label>
                                <input asp-for="SenderNIP" class="form-control" />
                                <span asp-validation-for="ReceiverNIP" class="text-danger"></span>
                            </div>
                            <div class="fifth-form-group">
                                <label class="section_label">Numer certyfikatu oraz numery pojemników</label>
                                <input asp-for="SenderREGON" class="form-control" />
                                <span asp-validation-for="ReceiverREGON" class="text-danger"></span>
                            </div>
                        </div>
                        <div id="add-form"></div>
                        <div class="add-btn-section">
                            <button type="button" class="k-button k-primary ng-star-inserted"  id="add-btn" onClick="changeHeight();">Dodaj kolejny</button>
                        </div>
                    </div>
                </div> 
                <div class="sign-container">
                    <div class="sign-section">
                        <label class="sign-header section_label">Potwierdzam przekazanie odpadu</label>
                        <input class="sign-input form-control" placeholder="data, pieczęć i podpis">
                    </div>
                    <div class="sign-section">
                        <label class="sign-header section_label">Potwierdzam przyjęcie <br> odpadów do transportu i wykonanie usługi transportu</label>
                        <input class="sign-input form-control" placeholder="data, pieczęć i podpis">
                    </div>
                    <div class="sign-section">
                        <label class="sign-header section_label">Potwierdzam przejęcie odpadu</label>
                        <input class="sign-input form-control" placeholder="data, pieczęć i podpis">
                    </div>
                </div>
                <div class="save-form-group">
                    <input type="submit" value="Zapisz" class="btn btn-default k-button k-primary ng-star-inserted" />
                </div>
                
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <!-- <div class="form-group">
                    <label asp-for="WasteCode" class="control-label"></label>
                    <input asp-for="WasteCode" class="form-control" />
                    <span asp-validation-for="WasteCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WasteKind" class="control-label"></label>
                    <input asp-for="WasteKind" class="form-control" />
                    <span asp-validation-for="WasteKind" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Pcb" class="control-label"></label>
                    <input asp-for="Pcb" class="form-control" />
                    <span asp-validation-for="Pcb" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WasteId" class="control-label"></label>
                    <input asp-for="WasteId" class="form-control" />
                    <span asp-validation-for="WasteId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WasteCategory" class="control-label"></label>
                    <input asp-for="WasteCategory" class="form-control" />
                    <span asp-validation-for="WasteCategory" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WasteWeight" class="control-label"></label>
                    <input asp-for="WasteWeight" class="form-control" />
                    <span asp-validation-for="WasteWeight" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WasteBiohazard" class="control-label"></label>
                    <input asp-for="WasteBiohazard" class="form-control" />
                    <span asp-validation-for="WasteBiohazard" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WasteCertNo" class="control-label"></label>
                    <input asp-for="WasteCertNo" class="form-control" />
                    <span asp-validation-for="WasteCertNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SenderName" class="control-label"></label>
                    <input asp-for="SenderName" class="form-control" />
                    <span asp-validation-for="SenderName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SenderAddress" class="control-label"></label>
                    <input asp-for="SenderAddress" class="form-control" />
                    <span asp-validation-for="SenderAddress" class="text-danger"></span>
                </div>
            
                <div class="form-group">
                    <label asp-for="SenderOperationDate" class="control-label"></label>
                    <input asp-for="SenderOperationDate" class="form-control" />
                    <span asp-validation-for="SenderOperationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TransportName" class="control-label"></label>
                    <input asp-for="TransportName" class="form-control" />
                    <span asp-validation-for="TransportName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TransportAddress" class="control-label"></label>
                    <input asp-for="TransportAddress" class="form-control" />
                    <span asp-validation-for="TransportAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TransportREGON" class="control-label"></label>
                    <input asp-for="TransportREGON" class="form-control" />
                    <span asp-validation-for="TransportREGON" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TransportNIP" class="control-label"></label>
                    <input asp-for="TransportNIP" class="form-control" />
                    <span asp-validation-for="TransportNIP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TransportRegNo" class="control-label"></label>
                    <input asp-for="TransportRegNo" class="form-control" />
                    <span asp-validation-for="TransportRegNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TransportOperationDate" class="control-label"></label>
                    <input asp-for="TransportOperationDate" class="form-control" />
                    <span asp-validation-for="TransportOperationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReceiverName" class="control-label"></label>
                    <input asp-for="ReceiverName" class="form-control" />
                    <span asp-validation-for="ReceiverName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReceiverAddress" class="control-label"></label>
                    <input asp-for="ReceiverAddress" class="form-control" />
                    <span asp-validation-for="ReceiverAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReceiverREGON" class="control-label"></label>
                    <input asp-for="ReceiverREGON" class="form-control" />
                    <span asp-validation-for="ReceiverREGON" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReceiverNIP" class="control-label"></label>
                    <input asp-for="ReceiverNIP" class="form-control" />
                    <span asp-validation-for="ReceiverNIP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReceiverOperationDate" class="control-label"></label>
                    <input asp-for="ReceiverOperationDate" class="form-control" />
                    <span asp-validation-for="ReceiverOperationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OperationDate" class="control-label"></label>
                    <input asp-for="OperationDate" class="form-control" />
                    <span asp-validation-for="OperationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div> -->
            </form>
        </div>
        </div>
        </div>
    
    
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
<script>
    window.onload = function () {
        var buttons = document.getElementsByClassName('view-more_sizing');
        for (var i = 0; i < buttons.length; i++) {
            var button = buttons[i];
            button.addEventListener('click', function (event) {
                event.stopImmediatePropagation();
                let arrowExpand = event.target;
                console.log('arrowExpand', arrowExpand);
                var sectionForm = arrowExpand.parentNode.parentNode;
                console.log('sectionForm', sectionForm);
                console.log('sectionForm.childNodes', sectionForm.childNodes);
                var formExpandableSection = sectionForm.childNodes[3];
                formExpandableSection.classList.toggle('expanded')
                arrowExpand.classList.toggle('view-more_sizing-expanded');
            })
        }
        $('#add-btn').click(function(){
            var large = '<div class="fifth-section-part"><div class="fifth-form-group"><label class="section_label">Data/miesiąc</label><input type="text" class="form-control fifth-form_control--data" /><span asp-validation-for="Number" class="text-danger"></span></div><div class="fifth-form-group"><label class="section_label">Masa przekazanych odpadów [Mg]</label><input class="form-control" /><span asp-validation-for="Year" class="text-danger"></span></div><div class="fifth-form-group"><label class="section_label">Numer rejestracyjny pojazd, przyczepy lub naczepy</label><input asp-for="SenderNIP" class="form-control" /><span asp-validation-for="ReceiverNIP" class="text-danger"></span></div><div class="fifth-form-group"><label class="section_label">Numer certyfikatu oraz numery pojemników</label><input asp-for="SenderREGON" class="form-control" /><span asp-validation-for="ReceiverREGON" class="text-danger"></span></div></div>'

            $('#add-form').append(large);
        });
        function changeHeight() {
        document.getElementById('show-form').style.height = '200px'
        }
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
