﻿@model Gwiazda.Models.WasteTransferCard

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit WasteTransferCard</h2>

<h4>CardForm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WasteCode" class="control-label"></label>
                <input asp-for="WasteCode" class="form-control" />
                <span asp-validation-for="WasteCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WasteKind" class="control-label"></label>
                <input asp-for="WasteKind" class="form-control" />
                <span asp-validation-for="WasteKind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pcb" class="control-label"></label>
                <input asp-for="Pcb" class="form-control" />
                <span asp-validation-for="Pcb" class="text-danger"></span>
            </div>
            @foreach(var sub in Model.SubCardForms){ 
            <input  name="x" value="@sub.Number" />
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
