﻿@model Gwiazda.Models.CardForm

@{
    ViewData["Title"] = "Index Title";
}

<h2>WasteTransferCard Index</h2>

<h4>Form</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h1>WasteTransferCard h1</h1>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>